/* .app {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding: 0 16px 16px;
} */

.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 100%),
    url(/main-background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
}

.text_conteiner {
  max-width: 1085px;
  min-height: 270px;
  text-align: center;
}

.main_content {
  text-align: center;
  font-size: 24px;
  margin: 10px 131px 30px 131px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  min-width: 822px;
}

.main_button {
  display: block;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 0 auto;
  padding: 10px 24px;
  line-height: 1.7;
  color: #fff;
  font-size: 20px;
  max-width: 160px;
  height: 54px;
}

@media screen and (min-resolution) {
  .main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 100%),
      url(/main-background-2x.webp);
  }
}

@media only screen and (min-width: 768px) {
  .text_conteiner {
    /* margin-left: 176px;
    margin-right: 179px; */
    width: 1085px;
  }
}
