.toolbar {
  width: 100%;
  /* max-width: 1440px; */
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #172234;
}

/* .header_container { */
/* max-width: 1280px; */
/* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; */
/* } */

.logo {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  line-height: 1.22;
  color: #fff;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.button {
  line-height: 1.3;
  color: #b29f7e;
  border: 1px solid #b29f7e;
  border-radius: 5px;
  padding: 8px 0px;
  min-width: 90px;
  height: 44px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button:hover {
  background-color: #b29f7e;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .toolbar {
    padding: 0 80px;
  }
  .logo {
    font-size: 28px;
  }
  .button {
    padding: 11px 0px;
    width: 160px;
  }
}
/* Styles for Desktop devices */
/* @media only screen and (min-width: 1440px) {
  .container {
 
  }} */
